
<form [formGroup]="formEdit" class="container-edit"> 
    <!--Seccion Proyectos-->
    <div class="container-project">
        <div>
            <span>Seccion: Proyecto</span>
            <div formGroupName="proyecto_seccion">
           
            <label for="nombre_proyecto">Nombre:</label>
            <input type="text" id="nombre_proyecto" formControlName="nombre_proyecto"  >

            <label for="descripcion">descripcion:</label>
            <input type="text" id="descripcion" formControlName="descripcion"  >


            <label for="fecha_inicio">fecha_inicio:</label>
            <input type="date" id="fecha_inicio" formControlName="fecha_inicio"  >


            <label for="fecha_fin">fecha_fin:</label>
            <input type="date" id="fecha_fin" formControlName="fecha_fin"  >


            </div>
        </div>

    </div>

    <!--Seccion cliente-->
    <div class="container-client">
        <div>
            <span>Seccion: Cliente</span>

            <div formGroupName="cliente_seccion">
            
                <label for="nombre_cliente"> Nombre Cliente:</label>
                <input type="text" id="nombre_cliente" formControlName="nombre_cliente"  >
    
                <label for="correo_cliente">correo_cliente:</label>
                <input type="email" id="correo_cliente" formControlName="correo_cliente"  >
    
                <label for="telefono_cliente">TElefono:</label>
                <input type="number" id="telefono_cliente" formControlName="telefono_cliente"  >
    
                <label for="dni_cliente">DNI:</label>
                <input type="number" id="dni_cliente" formControlName="dni_cliente" >
               
    
                
    
            </div>
    
        </div>
       
       
    </div>

    
    <!--Seccion Empleado-desarrollador-->
    <div class="container-dev">
        <div>
            <span>Seccion: Desarrollador</span>

            <div formGroupName="empleado_seccion">
              <label for="nombre_empleado"> Id desarrollador:</label>
              <input type="text" formControlName="idEmpleado" readonly>  

              <label for="nombre_empleado"> Nombre desarrollador:</label>
              <input type="text" formControlName="nombre_empleado" readonly>  
                
                <label for="dni_empleado"> DNI:</label>
                <input type="number" id="dni_empleado" formControlName="dni_empleado" readonly>
          
                <label for="correo_empleado"> Correo:</label>
                <input type="email" id="correo_empleado" formControlName="correo_empleado" readonly>

                <mat-form-field>
                  <mat-label>Desarrollador</mat-label>
                  <mat-select (selectionChange)="changeValueDesarrollador($event)">
                    <mat-option *ngFor="let desarrollador of empleados" [value]="desarrollador.idEmpleado">
                      {{ desarrollador.nombre_empleado }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                  
              </div> 
    </div>

    </div>
    
    
    

   
    

     <!--Seccion Estado-->
     <div class="container-estado">
        <div>
            <span>Seccion: Estado</span>

            <div formGroupName="estado_seccion">
                <label for="estado">Id Estado:</label>
                <input name="estado" id="idEstado" formControlName="idEstado"  type="text" readonly>

                <label for="estado">estado:</label>
                <input name="estado" id="estado" formControlName="estado"  type="text" readonly>
                
              
                <mat-form-field>
                  <mat-label>Estados</mat-label>
                  <mat-select (selectionChange)="changeValueEstado($event)">
                    <mat-option *ngFor="let estado of estados" [value]="estado.idEstado">
                      {{ estado.estado }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                
            </div>
        </div> 
    </div>

     <!--Seccion Cotizacion-->
     <div class="container-cotizacion">
        <div>
            <span>Seccion: Cotizacion</span>

            <div formGroupName="cotizacion_seccion">
                
                <mat-form-field>
                    <mat-label>Cotización</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addElemento($event)">
                      <mat-option *ngFor="let elementos of filteredOptions | async" [value]="elementos">
                        {{ elementos }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <h3>Lista de Cotizaciones:</h3>
                  <mat-list role="list">
                    <mat-list-item role="list-item" *ngFor="let elemento of selectedElementos" class="list-item">
                
                      <mat-icon class="delete-icon" (click)="deleteElemento(elemento)">delete</mat-icon>
                      <span class="text-container">{{ elemento.nombre_elemento }} - S/. {{ elemento.costo }}</span>
                    </mat-list-item>
                  </mat-list>
      <mat-divider></mat-divider>

      <div class="container-precioss">
        <mat-form-field floatLabel="always">
          <mat-label>SubTotal</mat-label>
          <input matInput type="number" formControlName="subtotal" class="example-right-align" placeholder="0"  readonly/>
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Descuento:</mat-label>
          <input matInput type="number" formControlName="descuento" (keyup)="changeValueDescuento($event)" class="example-right-align" placeholder="0" />
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field floatLabel="always">
          <mat-label>Total:</mat-label>
          <input matInput type="number" formControlName="total" class="example-right-align" placeholder="0" readonly/>
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
        

       

      </div>
            </div>
        </div> 
    </div>
    <button mat-button (click)="actualizarProyecto()">Actualizar datos</button>

   
</form>
