<nav class="sidebar">
    <div class="container-dash"    routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f66325e93db15380ded75a37eec2c6dcd1f3e4c6e4f8e215a7255b67c9dbb211?apiKey=b9c9e80b094b48379046048594eb6c95&" alt="Dashboard Icon" class="iconDash">
        <div class="title-dash">Dashboard</div>
    </div>
    <div class="container-projects" routerLinkActive="active" routerLink="/proyectos">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a20b8e5418c2c9d0873076a82a52d0886770656ba206bdf86deb4c3ae7e479d?apiKey=b9c9e80b094b48379046048594eb6c95&" alt="Projects Icon" class="iconProjects">
        <div class="titleProjects">Proyectos</div>
    </div>
    <div class="container-quote"  routerLink="/cotizaciones" routerLinkActive="active">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/adec1e79eddbf2a74829b6a3b562b95a97d4e42d5ccf4fcc29295a49f6be9599?apiKey=b9c9e80b094b48379046048594eb6c95&" alt="Quotes Icon" class="iconQuote">
        <div class="titleQuote">Cotizaciones</div>
    </div>
    <div class="container-Developers"  routerLink="/desarrolladores"  routerLinkActive="active">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9ed77ce40b5b0f646c73c8d61edce5c58556e07db58878b407ed9521b8559335?apiKey=b9c9e80b094b48379046048594eb6c95&" alt="Developers Icon" class="iconDev">
        <div class="titleDevelopers">Desarrolladores</div>
    </div>
</nav>
